<%# 
    Bölge Detay Sayfası
    Controller: bolgeController.show
    Route: GET /bolge/:id
    
    Controller'dan gelen veriler:
    - title: 'Bölge: Marmara'
    - bolge: { bolge_id: 1, bolge_ad: 'Marmara' }
%>

<h1><%= title %></h1>
<!-- Controller'dan gelen title değişkeni -->

<% if (bolge) { %>
    <div class="bolge-detail">
        <p><strong>ID:</strong> <%= bolge.bolge_id %></p>
        <p><strong>Bölge Adı:</strong> <%= bolge.bolge_ad %></p>
    </div>
<% } else { %>
    <p>Bölge bulunamadı.</p>
<% } %>

